/*
Colors used:
Primary Color (Blue): #4378FF;
Secondary Color (Teal): #B6E8E3;
*/

body {
    background-color: #F7F7F7;
  }

body {
  font-family: 'Roboto', sans-serif;
}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.00em;
  font-weight: 700;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.00em;
  font-weight: 400;
}
h4 {
  font-size: .75em;
  font-weight: 400;
}

img {
  width: 100%;
}

.icons {
  width: 10%;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

a {
  color: #B6E8E3;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #41BAAE;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #2B7C74;
}

a:hover,
a:focus {
  color: #41BAAE;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #B6E8E3;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2B7C74; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.project {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #B6E8E3;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2B7C74; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.project:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #B6E8E3;
  text-transform: uppercase;
  border: 2px solid #B6E8E3;
}

.button.contact:hover {
  background-color: #B6E8E3;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 15px; border-bottom: 3px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
  width: 100%;
  padding: 15px 0;
}

header {
  background-color: #B6E8E3;
  text-align: center;
  padding: 15px 0;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  position: relative;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 10px 0 0 0;
}

nav > ul > li > a {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #B6E8E3;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#about h1 {
  text-align: center; /* Centers text */
  background-color: #B6E8E3;
  padding: 10px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

footer {
  border-bottom: 3px;
  text-align: center;
}

#about footer {
  margin: 0 15px;
  padding-bottom: 15px;
  border-top: 3px solid #4a4a4a;
}
