/*
Colors used:
Primary Color (Blue): #4378FF;
Secondary Color (Teal): #B6E8E3;
*/

body {
    background-color: #F7F7F7;
  }

body {
  font-family: 'Roboto', sans-serif;
}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

p {
  line-height: normal;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.00em;
  font-weight: 700;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.00em;
  font-weight: 400;
}
h4 {
  font-size: .75em;
  font-weight: 400;
}

img {
  width: 90%;
  max-width: 90%;
  height: auto;
}

.icons {
  width: 10%;
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

a {
  color: #3f51b5;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #41BAAE;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #2B7C74;
}

a:hover,
a:focus {
  color: #41BAAE;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #3f51b5;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #00bcd4; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.project {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #3f51b5;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #00bcd4; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.project:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #3f51b5;
  text-transform: uppercase;
  border: 2px solid #3f51b5;
}

.button.contact:hover {
  background-color: #3f51b5;
  color: #ffffff;
}

.number {
  color: #3f51b5;

}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 15px; border-bottom: 2px dotted #00bcd4;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 150px;
  width: 100%;
}

header {
  background-color: #B6E8E3;
  padding: 15px 0;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 7px 5px 0px rgba(50, 50, 50, 0.6);
  position: relative;
}

.navigation {
  padding: 0 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

nav ul {
  list-style-type: none;
  align-content: center;
}

nav ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 15px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.indigo
{
    background: #3f51b5;
}

/* Top border go down and Left border appears */
div.topLeftBorders a:before
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before
{
    height: 100%;
}

div.topLeftBorders a:hover:after
{
    opacity: 0;
    top: 100%;
}

div.navtoggle.responsive div.topLeftBorders a:after {
  top: 36px;
  text-align left: auto;
  width: 70%;
  height: 1.5px;
}

div.navtoggle.responsive div.container.indigo.topLeftBorders {
  position: right;
  padding: 10px;
  float: right;
}

#hero {
  background-color: #B6E8E3;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#about h1 {
  text-align: center; /* Centers text */
  background-color: #B6E8E3;
  padding: 10px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

footer {
  border-bottom: 3px;
  text-align: center;
}

#about footer {
  margin: 0 15px;
  padding-bottom: 15px;
  border-top: 3px solid #4a4a4a;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 0 0 0;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

  .logo {
    max-width: 250px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    padding: 20px 0;
    font-size: 1.25em;
  }
  #hero span {
    display: block;
}
.col-md-6 {
  width: 50%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}
#hero h1 {
  font-size: 3.00em;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

#berlin-illustration: {
  align: center;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
